/* Write the CSS for you answer here */

#container{
    position: absolute;
    width: 700px;
    height: 541px;
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.tree{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.ball {
    position: absolute;
    z-index: 4;
}

#blueball {
    position: absolute;
    left: 200px;
    top: 75px;
}
#darkblueball {
    position: absolute;
    left: 20px;
    top: 250px;
}

#greenball {
    position: absolute;
    left: 500px;
    top: 250px;
}

#orangeball {
    position: absolute;
    z-index: 0;
    left: 400px;
    top: 300px;
    z-index: 2;
}

#redball {
    position: absolute;
    left: 425px;
    top: 180px;
}

#pinkball {
    position: absolute;
    left: 450px;
    top: 50px;
}
